name: Push-to-EC2

on:
  push:
    branches:
      - master
    paths:
      - 'server/**'
  workflow_dispatch:

jobs:
  deploy:
    name: Push to EC2 Instance
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to EC2 Instance
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22 #default
          script: |
            cd ~/justchat
            git fetch
            git pull
            docker compose down
            docker compose up -d
